
@import 'cores';

// /* Importando a fonte LATO (fonte padrão do texto da página) no  do Google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');

// /* Importando a fonte CINZEL (fonte usada no nome/marca/logo da unifesp */
@import url('https://fonts.googleapis.com/css?family=Cinzel');
/* Configuração geral das tabelas. */
/************************************************************************** TABELAS ******************************************************************************************/

/* Configuração geral das tabelas. */
.tabela-unifesp {

    th {
        font-weight: normal;
    }

    /* Configuração da legenda da tabela, como cor do texto, bordas e cor de fundo, conforme cada modelo de site */
    thead {

        tr {
            color: #fff;
            /* altera a cor do texto para branco. */

            th {
                background-color: $verde-escuro-dois !important;
                /* Fundo do cabeçalho da tabela */
            }

            th:first-child {
                border-top-left-radius: 10px !important;
                /* Borda superior esquerda arredondada */
            }

            th:last-child {
                border-top-right-radius: 10px !important;
                /* Borda superior direita arredondada */

            }
        }
    }

    //Preenche a cor de fundo (ESCURO) das linhas impares conforme o layout de cada campus/pr�-reitoria
    tr:nth-child(even) td,
    tr:nth-child(even) th {
        background-color: $verde-medio-seis;
    }

    //Preenche a cor de fundo (CLARO) das linhas pares conforme o layout de cada campus/pr�-reitoria
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
        background-color: $cinza-unifesp-claro;
    }

    //Arredonda a borda inferior esquerda da tabela em 10px;
    tbody {

        tr:last-child {
            th:first-child {
                border-bottom-left-radius: 10px;
                -moz-border-radius-bottomleft: 10px;
                -webkit-border-bottom-left-radius: 10px;
                border-radius: 0 0 0 0.6em;
            }
        }
    }

    //Arredonda a borda inferior direita da tabela em 10px;
    tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
        border-radius: 0 0 0.6em 0;
    }

    // Espaçamento das células das tabelas
    td {
        padding: 10px;
        vertical-align: middle;
    }





    /************* Modo telas pequenas **********/

    // $breakpoint-alpha: 480px; // adjust to your needs
    //$breakpoint-alpha: 769px; // adjust to your needs
    $breakpoint-alpha: 921px; // adjust to your needs

    margin: 1em 0;
    min-width: 300px; // adjust to your needs

    // tr {
    //     border-top: 1px solid #ddd;
    //     border-bottom: 1px solid #ddd;
    // }

    th {
        display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
    }

    tr {
        border: 10px solid $verde-claro-tres;
    }

    td {
        display: block;
        // border-bottom: 1px solid black;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            // width: 6.5em; // magic number :( adjust according to your own content
            width: 9em; // magic number :( adjust according to your own content
            display: inline-block;
            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th,
    td {
        //text-align: left;

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;


            // padding: .25em .5em;

            // &:first-child {
            //     padding-left: 0;
            // }

            // &:last-child {
            //     padding-right: 0;
            // }
        }

    }

    tr {
        @media (min-width: $breakpoint-alpha) {
            border: none;
        }
    }

    input[type="search"]::-webkit-search-cancel-button {
        /*Bootstrap 4 override*/
        -webkit-appearance: searchfield-cancel-button;
      }
}

.tabela-default {
   /************* Modo telas pequenas **********/

    // $breakpoint-alpha: 480px; // adjust to your needs
    //$breakpoint-alpha: 769px; // adjust to your needs
    $breakpoint-alpha: 921px; // adjust to your needs

    margin: 1em 0;
    min-width: 300px; // adjust to your needs

    // tr {
    //     border-top: 1px solid #ddd;
    //     border-bottom: 1px solid #ddd;
    // }

    th {
        display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
    }

    tr {
        border: 10px solid $verde-claro-tres;
    }

    td {
        display: block;
        // border-bottom: 1px solid black;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            // width: 6.5em; // magic number :( adjust according to your own content
            width: 9em; // magic number :( adjust according to your own content
            display: inline-block;
            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th,
    td {
        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
        }
    }

    tr {
        @media (min-width: $breakpoint-alpha) {
            border: none;
        }
    }
}
